
body{
    background-color: red;
    margin: 0;
    color: white;
    
}
.card {
    list-style: none;
    padding: 40px;
    background-color: azure;
    color: #222;    
    text-align: center;
}
.card:hover{
    animation: bounce 0.5s linear;
}
@keyframes bounce{
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }
    60% {
        transform: translateY(-6px);
    }
    80% {
        transform: translateY(0px);
    }
}
.card-title{
    text-transform: uppercase;
    font-style: 32px;
    font-weight: bold;
    margin-bottom: 0;
}

.card-subtitle{
    color: #666;
    margin-top: 5px;
    font-weight: lighter;
}
.card-img{ 
    height: 180px;}
#pokedex{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap: 20px;
}
.container{
    padding: 40px;
    margin: 0 auto;
}
h1{
text-transform: uppercase;
text-align: center;
font-size: 54px;
}